In [3]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import acq
import env

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.
    - Includes all the tables in the zillow database.
    - Used LEFT JOIN to keep all columns of the properties_2017 table
    - Used a subquerry to filter DISTINCT property id with 2017 transaction
    - WHERE statement to keep latitude/longitude where IS NOT NULL.

In [4]:
df = acq.get_zillow_data()
df.head(2)

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.00,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.03,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.00,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.06,2017-01-01,None,None,None,None,Single Family Residential,None,None

In [26]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
df

2. Summarize your data

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,77579.0,1.300828e+07,3.519399e+06,1.071186e+07,1.153820e+07,1.253054e+07,1.421136e+07,1.676893e+08
typeconstructiontypeid,223.0,6.040359e+00,5.560348e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,77579.0,2.618245e+02,5.141596e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
heatingorsystemtypeid,49571.0,3.921749e+00,3.594780e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
architecturalstyletypeid,207.0,7.386473e+00,2.728030e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,25007.0,1.812013e+00,2.965768e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
id,77579.0,1.495392e+06,8.609686e+05,3.490000e+02,7.521420e+05,1.498227e+06,2.240879e+06,2.982274e+06
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77579.0,2.298496e+00,9.967317e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77579.0,3.053223e+00,1.140480e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingqualitytypeid,49809.0,6.533779e+00,1.722062e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76963.0,2.316392e+00,9.796893e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6037.0,1.366165e+03,6.707013e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77378.0,1.784935e+03,9.542504e+02,1.280000e+02,1.182000e+03,1.542000e+03,2.112000e+03,3.564000e+04
finishedsquarefeet12,73923.0,1.760285e+03,9.343526e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.075000e+03,2.192900e+04
finishedsquarefeet13,42.0,1.388762e+03,1.222209e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3027.0,2.354491e+03,1.186985e+03,5.980000e+02,1.624000e+03,2.088000e+03,2.831000e+03,3.564000e+04
finishedsquarefeet50,6037.0,1.381389e+03,7.257927e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621000e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77579.0,6.048814e+03,2.074725e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8289.0,1.191217e+00,4.909805e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76963.0,2.250107e+00,9.664917e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25520.0,1.815282e+00,5.883397e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25520.0,3.500471e+02,2.616461e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.920000e+02,4.251000e+03
hashottuborspa,1539.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,77579.0,3.400837e+07,2.652873e+05,3.333953e+07,3.381463e+07,3.402200e+07,3.417431e+07,3.481877e+07
longitude,77579.0,-1.182037e+08,3.594085e+05,-1.194754e+08,-1.184150e+08,-1.181810e+08,-1.179286e+08,-1.175546e+08
lotsizesquarefeet,69321.0,2.997344e+04,1.233050e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183700e+04,6.971010e+06
poolcnt,16174.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,869.0,5.179310e+02,1.565697e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,465.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15079.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,77579.0,6.049124e+07,2.058962e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,76107.0,3.368306e+04,4.721178e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77579.0,2.534515e+03,8.014479e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30974.0,1.877251e+05,1.650451e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77529.0,9.658669e+04,3.793552e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77579.0,1.476276e+00,2.823686e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
threequarterbathnbr,10106.0,1.009598e+00,1.185718e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,50703.0,1.110309e+00,1.169967e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2393.0,3.054609e+02,2.387352e+02,1.100000e+01,1.700000e+02,2.500000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77309.0,1.968612e+03,2.379317e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17599.0,1.434286e+00,5.445153e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77464.0,1.892811e+05,2.304107e+05,4.400000e+01,8.417925e+04,1.364045e+05,2.187340e+05,1.142179e+07
taxvaluedollarcnt,77578.0,4.901506e+05,6.537979e+05,1.000000e+03,2.068985e+05,3.588785e+05,5.690000e+05,4.906124e+07
assessmentyear,77579.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77577.0,3.011515e+05,4.927249e+05,1.610000e+02,8.529300e+04,2.031880e+05,3.667530e+05,4.895220e+07
taxamount,77574.0,5.995962e+03,7.628860e+03,1.992000e+01,2.712630e+03,4.448265e+03,6.926917e+03,5.866393e+05
taxdelinquencyyear,2900.0,1.408828e+01,2.181281e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77332.0,6.049667e+13,1.533339e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
id,77579.0,3.880622e+04,2.240347e+04,0.000000e+00,1.940450e+04,3.880400e+04,5.820750e+04,7.761200e+04
logerror,77579.0,1.680281e-02,1.707384e-01,-4.655420e+00,-2.430946e-02,6.675911e-03,3.929142e-02,5.262999e+00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77579 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77579 non-null  float64
 4   heatingorsystemtypeid         49571 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   id                            77579 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77579 non-null  float64
 11  bedroomcnt                    77579 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76963 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77378 non-null  float64
 17  finishedsquarefeet12          73923 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77579 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76963 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77579 non-null  float64
 29  longitude                     77579 non-null  float64
 30  lotsizesquarefeet             69321 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77579 non-null  object
 37  propertyzoningdesc            50476 non-null  object
 38  rawcensustractandblock        77579 non-null  float64
 39  regionidcity                  76107 non-null  float64
 40  regionidcounty                77579 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77529 non-null  float64
 43  roomcnt                       77579 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id                            77579 non-null  int64
 60  logerror                      77579 non-null  float64
 61  transactiondate               77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  propertylandusedesc           77579 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

In [5]:
df.dtypes

parcelid                    int64
typeconstructiontypeid    float64
storytypeid               float64
propertylandusetypeid     float64
heatingorsystemtypeid     float64
                           ...
buildingclassdesc          object
heatingorsystemdesc        object
propertylandusedesc        object
storydesc                  object
typeconstructiondesc       object
Length: 69, dtype: object

In [6]:
df.shape

(77579, 69)

In [15]:
df.count()

parcelid                  77579
typeconstructiontypeid      223
storytypeid                  50
propertylandusetypeid     77579
heatingorsystemtypeid     49571
                          ...
buildingclassdesc            15
heatingorsystemdesc       49571
propertylandusedesc       77579
storydesc                    50
typeconstructiondesc        223
Length: 69, dtype: int64

In [20]:
df.isnull().sum()

parcelid                      0
typeconstructiontypeid    77356
storytypeid               77529
propertylandusetypeid         0
heatingorsystemtypeid     28008
                          ...
buildingclassdesc         77564
heatingorsystemdesc       28008
propertylandusedesc           0
storydesc                 77529
typeconstructiondesc      77356
Length: 69, dtype: int64

In [24]:
def summarize():
    print(df.shape)
    print(df.info())
    print(df.isnull().sum())

In [25]:
summarize()

(77579, 69)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77579 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77579 non-null  float64
 4   heatingorsystemtypeid         49571 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   id                            77579 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77579 non-null  float64
 11  bedroomcnt                    77579 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76963 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77378 non-null  float64
 17  finishedsquarefeet12          73923 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77579 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76963 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77579 non-null  float64
 29  longitude                     77579 non-null  float64
 30  lotsizesquarefeet             69321 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77579 non-null  object
 37  propertyzoningdesc            50476 non-null  object
 38  rawcensustractandblock        77579 non-null  float64
 39  regionidcity                  76107 non-null  float64
 40  regionidcounty                77579 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77529 non-null  float64
 43  roomcnt                       77579 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id                            77579 non-null  int64
 60  logerror                      77579 non-null  float64
 61  transactiondate               77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  propertylandusedesc           77579 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB
None
parcelid                      0
typeconstructiontypeid    77356
storytypeid               77529
propertylandusetypeid         0
heatingorsystemtypeid     28008
                          ...
buildingclassdesc         77564
heatingorsystemdesc       28008
propertylandusedesc           0
storydesc                 77529
typeconstructiondesc      77356
Length: 69, dtype: int64

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.